*
!/.gitattributes
!/Dataloader.py
!/LICENSE
!/Merge_classes.py
!/Model.py
!/README.md
!/requirements.txt
!/THIRD_PARTY_LICENSES.md
!/Train.py
!/Baseline.py
!/Finetune.py
!/Curve.py
!/Evaluate.py
!/baseline/
!/baseline/__init__.py
!/baseline/VGG_KNN.py
!/baseline/compare_models.py
!/baseline/ResNet34_Pretrained_10pct.py
!/baseline/HOG_Baseline.py
!/baseline/roc_comparison.png
!/baseline/pr_comparison.png
!/baseline/accuracy_bar.png
!/training_log.csv
!/confusion_matrix.png
!/roc_curve.png
!/pr_curve.png
!/training_curves.png
!.gitignore
